---
title: Blog
permalink: /blog/
layout: default
---

<div class="home">
  <div class="posts">
    {% for post in site.posts %}
      {% if post.archive != true %}
        <div class="post">
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
            <h3 class="h3 post-title">{{ post.title }}</h3>
          </a>
            {% if post.summary %}
            <p class="post-summary">
              {{ post.summary }}
            </p>
          {% endif %}
          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>