$font-color-1: #333;
$header-font-family: 'Lustria', serif;
$body-font-family: 'Lato', sans-serif;
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

$body-width: 38rem;

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block;
}

html { font-size: 1.25rem }

html, body {
  height: 100%;
}

body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: $font-color-1;
  font-family: $body-font-family;
  font-weight: 400;
  line-height: 1.45rem;
}

p { margin-bottom: 1.3rem }

a { text-decoration: none }

h1, h2, h3 {
  font-family: $header-font-family;
  font-weight: 900;
  margin: 1.414rem 0 0.5rem;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998rem;
}

h2 { font-size: 2.827rem; }

h3 { font-size: 1.625rem; }

h4 { font-size: 1.414rem; }

header {
  margin: 1rem 0 1.45rem 0;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.post-meta {
  color: lighten($font-color-1, 33%);
  font-size: 0.75rem;
  font-style: italic;
}

.content,
.footer {
  max-width: $body-width;
  margin: 0 auto;
}

.site-header {
  font-family: $header-font-family;
  font-weight: 900;
  text-align: center;
  @media screen and (min-width: $body-width) {
    text-align: left;
  }
  .site-title {
    font-size: 1.25em;
    display: block;
    @media screen and (min-width: $body-width) {
      float: left;
    }
  }
  .main-nav {
    margin-top: 0.707rem;
    @media screen and (min-width: $body-width) {
      margin-top: 0;
      display: inline-block;
      float: right;
    }
    a {
      font-size: 0.707rem;
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
