// Color related variables.
$font-color-1: #555;
$header-color: #4f0777;

// Typography related variables.
$header-font-family: 'Lustria', serif;
$body-font-family: 'Lato', sans-serif;
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';

// Layout related variables.
$body-width: 38rem;
